<% include ./partials/header %>
<div  class="col-sm-12">
<h1 class="staffHeader">Staff</h1>
</div>
<%  result.forEach(function(result){  %>
<div class="col-sm-6">
<div class="cardBody"> 
<div class="card">
        <img class="card-img-top staffImage" src="/images/<%= result.staffImage %>" alt="Card image">
        <div class="card-body">
          <h4 class="card-title"><%= result.staffname %></h4>
          <p class="card-text"><%= result.stafftitle %></p>
</div>
</div>
</div>
</div>
<% }) %>
<div  class="col-sm-12" id="volunteerHeaderContainer">
<h1 class="volunteerHeader">Volunteers</h1>
</div>

<%  volunteer.forEach(function(volunteer){  %>
  <div class="col-sm-6">
  <div class="cardBody"> 
  <div class="card">
          <img class="card-img-top staffImage" src="/images/<%= volunteer.volunteerImage %>" alt="Card image">
          <div class="card-body">
            <h4 class="card-title"><%= volunteer.volunteername %></h4>
            <p class="card-text"><%= volunteer.volunteertitle %></p>
  </div>
  </div>
  </div>
  </div>
  <% }) %>



        <% include ./partials/footer %>